/* 
    Document   : plugin_css
    Created on : Jun 9, 2013, 12:17:30 PM
    Author     : oktavyk
    Description:
        Purpose of the stylesheet follows.
*/

.user_atached_image {
    float: left;
}
.user_atached_image img {
    float: left;
    width: 80px;
    height: 80px;
    padding: 1px;
    border: 1px solid rgb(143, 150, 156);
}
.post_type-post #publishing-action, .post_type-post .misc-pub-section.curtime, .post_type-post #visibility.misc-pub-section{
    display: none !important;
}
#post_status_widget .small {
    display: none;
}
#post_status_widget tr:last-child {
    display: none;
}
.status-rejected{background: rgb(207, 207, 207) !important;}
.status-pending-forms{background: rgba(158, 192, 219, 0.31) !important;}
.post_type-post .updated.below-h2 a{
    display: none;
}
.post_type-post #edit-slug-box{
    display: none;
}
.row-actions .view a{
    display: none;
}
#view_all_pending {
    width: 100%;
    text-align: right;
    display: inline-block;
}
#post_pending {
    display: inline-block;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}
.get_pdf_txt {
    font-size: 15px;
    color: rgb(18, 71, 206);
    display: inline-block;
}
.wpptopdf {
    display: inline-block;
    height: 17px;
}
.post_type-post .preview.button{
    display: none !important;
}